body {
	font-size: 40px;
	font-family:'Lato Light', sans-serif;
	background-color: #1b1c1d;
	color:white;
}
/*start button*/
.start {
/*	float:right!important;*/
	display: block!important;
    margin: 0 auto!important;
    margin-top: 1em!important;
}
#main {
	margin-top: 5em;
}
/*start button*/
    
/*you win*/
.win {
	color:black;
	padding: 1em;
}
.win-wrapper {
	height:150px;
}
/*little guy*/
.rope {
	height: 20px;
    border-right: 5px solid #1b1c1d;
    position: absolute;
    left: 100px;
}
.rope2 { 
	height: 100px;
    border-right: 1px solid red;
    position: absolute;
    left: 97px;
    top: 20px;
/*    visibility: hidden;*/
    /* z-index: 0; */
}
.gallows {
	width:80%;
	height:150px;
	margin:0 auto;
	margin-top:2%;
	border-left: 5px solid #1b1c1d;
	position: relative;
}
.gallows:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    border-top: 5px solid #1b1c1d;
}
.guy {
	border: 1px solid #1b1c1d;
}
.head {
	width: 45px;
	height:45px;
	border-radius: 50%;
	top:19px;
	left:75px;
	position: absolute;
	/*visibility: hidden;*/
}

.torso { 
	height: 35px;
    top: 63px;
    left: 96px;
	position: absolute;
/*	visibility: hidden;*/
}
.arm-right {
	width:30px;
	position: absolute;
	top:80px;
	left:67px;
/*	visibility: hidden;*/
}

.leg-right {
	width:30px;
	position: absolute;
	top:110px;
	left:74px;
	transform: rotate(-60deg);
/*	visibility: hidden;*/
}
.arm {
	width:30px;
	position: absolute;
	top:80px;
	left:97px;
	/*visibility: hidden;*/
} 
.leg {
	width:30px;
	position: absolute;
	top:108px;
	left:89px;
	transform: rotate(60deg);
/*	visibility: hidden;*/
}
.arm:nth-of-type(2) {
	left:67px;
	height: 20px;
}
p.speech
{
    font-size: 18px;
    color: black;
    position: absolute;
    left: 130px;
    top: -14px;
    width: 183px;
    height: 68px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
/*    visibility: hidden;*/
}

p.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 56px;
    border: 15px solid;
	border-color: #666 transparent transparent #666;
}
p.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 35px;
    top: 51px;
    border: 10px solid;
	border-color: #fff transparent transparent #fff;
}
/*little guy*/

/*dashes*/
.blank {
	font-size: 28px;
	font-family: 'Open Sans Light 300 Italic', sans-serif;
	padding-right: 15px;
}
/*dashes*/

/*general-positioning/layout*/
.top {
	background-color: white;
}
.container {
	display: flex;
}
/*//one col*/
.hang {
	flex:1;
}


.game {
	flex: 3;
    padding: 50px;
}; 
/*general-positioning/layout*/



/*gameover styles*/
.gameOver {
	background-color: white; 
	width: 100%;
	height: 100%; 
	position: fixed;
	z-index: 1;
/*	display: none;*/
}
.gameOver-title {
	font-size: 30px;
	color: rgb(52,184, 239);
	line-height: 36px;
	text-align: center;
	margin-top: 15%;
/*	display: none;*/
}
.word {
	font-size: 28px;
	font-family: 'Open Sans Light 300 Italic', sans-serif;
	padding-bottom: 30px;
}
.definition {
	font-size: 15px;
    line-height: 1.5;
}

#playAgain {
	visibility: hidden;
}